@using Microsoft.AspNetCore.Http
@using GestorPacientes.Core.Application.Helpers;
@using GestorPacientes.Core.Application.ViewModels.Usuarios;
@inject IHttpContextAccessor httpContextAccessor
@{
    var User = httpContextAccessor.HttpContext.Session.Get<UsuariosViewModel>("user");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MiniProyectoGestorPacientes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MiniProyectoGestorPacientes.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar bg-success navbar-expand-lg bg-body-tertiary mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-dark fw-bold" href="#">Gregorio Billini</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-grow-1">
                        
                        @if (User != null)
                        {
                            if(User.RolName == "1")
                            {
                                <li class="nav-item ml-2">
                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>

                                <li class="nav-item ml-2">
                                    <a class="nav-link   text-white fw-bold" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                                </li>

                                <li class="nav-item ml-2">
                                    <a class="nav-link   text-white fw-bold" asp-area="" asp-controller="Medicos" asp-action="Index">Medicos</a>
                                </li>

                                <li class="nav-item ml-2">
                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="PruebasLaboratorio" asp-action="Index">Pruebas Laboratorio</a>
                                </li>

                                <li class="nav-item ml-2">
                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Usuarios" asp-action="Finish">Cerrar Sesion</a>
                                </li>

                            } else if(User.RolName == "2")
                            {
                                <li class="nav-item ml-2">
                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>


                                <li class="nav-item ml-2">
                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Pacientes" asp-action="Index">Pacientes</a>
                                </li>

                                <li class="nav-item ml-2">
                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Citas" asp-action="Index">Citas</a>
                                </li>

                                <li class="nav-item ml-2">
                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="ResultadosLaboratorio" asp-action="Index">Resultados Laboratorio</a>
                                </li>

                                <li class="nav-item ml-2">
                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Usuarios" asp-action="Finish">Cerrar Sesion</a>
                                </li>
                            }

                        }
                        else
                        {
                            <li class="nav-item ml-2">
                                <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Usuarios" asp-action="Register">Registro</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

